body {
  font-family: arial;
  background-color: #e2e2e2;

}

.game-card, ul, #map-container,.find-matches{
  margin: 15px;
}

h1 {
  font-size: 24px;
  color: #033949;
}

.header-wrapper {
  max-width: 600px;
  min-height:60px;
  margin:auto;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  background-color: #033949;
  min-height: 60px;
  position:fixed;
  top:0;
  width:100%;
}
  #back-button img{
    display:block;
  }
  
  .page-header h1 {
    color: white;
    text-align: center;
  }

  .page-header a{
    color:white;
    text-decoration: none;
    width: 50px;
    margin:0;
  }

  .align-item{
    width:50px;
    min-height: 60px;
  }
  a.right-side{
    text-align: right;
  }

.main-content {
  text-align: center;
  min-height: 480px;
  max-width: 600px;
  margin:auto;
  margin-top:60px;
  padding-top: 15px;
}
.main-content h1 {
  padding-top:15px;
}

.main-content a{
  display: block;
  margin-top:15px;
}

#logo {
  height:70px;
  margin:auto;
  display:block;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.game-card {
  background-color: #edeef1;
  border-radius:10px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); 
}

.game-card-header {
  background-color: #033949;
  border-radius: 10px;
}

  .game-card-header h3{
    color:white;
    padding: 8px 0px 8px 0 ;
  }

  .game-card button{
  /*  background-color: #afff4a;*/
    margin-bottom: 5px;
  }

#map-container{
/*  height: 150px;*/
/*  background-color: palegreen;*/
  margin-bottom: 0px;
}

.game-details {
  text-align: left;
}

.game-details li{
  margin-bottom: 15px;
}

button {
  width:100%;
  height: 40px;
  font-size: 14px;
  color:#033949;
}

select {
  width:100%;
  height:40px;
  font-size: 14px;
  color:#033949;

}

footer {
  padding-top: 15px;
  padding-bottom:15px;
}