html {
  height: 100%;
}

body {
  font-family: arial;
  background-color: #e2e2e2;
  min-height:100%
}

.game-card, ul, #map-container,#find-matches{
  margin: 15px;
}

h1 {
  font-size: 24px;
  color: #033949;
}

.header-wrapper {
  max-width: 600px;
  min-height:60px;
  margin:auto;
  padding: 0 15px 0 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  background-color: #033949;
  height: 60px;
  position:fixed;
  top:0;
  width:100%;
}
  #back-button img{
    display:block;
  }
  
  .page-header h1 {
    color: white;
    text-align: center;
  }

  .page-header a{
    color:white;
    text-decoration: none;
    width: 50px;
    margin:0;
  }

  .align-item{
    width:50px;
    min-height: 60px;
  }
  a.right-side{
    text-align: right;
  }
  
#right-panel, #left-panel {
  text-align: center;
  margin-top:75px;
}

#right-panel {
  display: none;
  width: 100%;
  margin-top:0;
  top: 60px;
  height: calc(100% - 60px);
  position: fixed;
  overflow-y: scroll;
}

.details-placeholder {
    margin-top: 35vh;
    color: darkslategrey;
}

#logo {
  height:70px;
  margin:auto;
  display:block;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.game-card {
  background-color: #edeef1;
  border-radius:10px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); 
}

.game-card-header {
  background-color: #033949;
  border-radius: 10px;
}

.game-card-header h3{
  color:white;
  padding: 8px 0px 8px 0 ;
}

.game-card a {
  text-decoration: none;
  color: #033949;
}

#map-container{
  margin-bottom: 0px;
}

.game-details {
  text-align: left;
}

.game-details li{
  font-size: 14px;
  margin-bottom: 5px;
}

button {
  width:100%;
  height: 40px;
  font-size: 14px;
  color:#033949;
}

select {
  width:100%;
  height:40px;
  font-size: 14px;
  color:#033949;

}

footer {
  padding-top: 15px;
  padding-bottom:15px;
}

/*+++  filter menu styles +++*/

#filter-menu{
    top: 60px;
    z-index: 999;
    background-color: rgba(3,57,73,0.7);
    position:fixed;
    height: 100%;
    width:100%;
    display:none;
}
#filter-menu ul{
    margin:0px;
}
#filter-menu a {
   color:white;
   text-decoration: none;
}

#filter-menu h1{
    color:white;
}

#filter-menu li{
    color:white;
    font-size: 16px;
    margin-top: 5px;
}

#close-button {
    display:none;
}


@media screen and (orientation:landscape) {
  #left-panel {
    width:33.33%;
    margin-top:0;
    top:60px;
    height:calc(100% - 60px);
    position:fixed;
    overflow-y:scroll;
  }

  #right-panel {
    display:block;
    width: 66.6666%;
    margin-top:0;
    top: 60px;
    height: calc(100% - 60px);
    position: fixed;
    overflow-y: scroll;
    margin-left:33.33%;
  }
  
}